* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
  	font-family: "Open Sans", sans-serif;
  	font-style: normal;
  	overflow-x: hidden;
}

header {
	width: 100vw;
	height: auto;
	background-color: #F5F3E7;
	display:flex;
	justify-content:space-between;
	padding: 2% 5% 1% 5%;
}

.linea {
  width: 100%;
  height: 3px;
  background-color: black;
}

#logotip {
	width: 50%;
	height: auto;
}

#logotip img{
	width: 15%;
}

nav {
	width: 50%;
	display:flex;
	justify-content:space-evenly;
	flex-direction:row;
}

#menu {
	width: auto;
	height: 50%;
	list-style:none;
	display:flex;
	padding: 1vh;
}

.linksmenu {
	width: auto;
	margin: 0px 20px;
	font-weight: normal;
}

.linksmenu a {
	text-decoration:none;
	color: #3E51FF;
	padding: 4vh;
	font-size: 1rem;
	line-height: 3rem;
} 

.linksmenu a:hover{
	color: #1924E0;
	font-weight: bold; 
}

hero {
	position: relative;
	width: 100vw;
	height: 100vh;
	background-color: #F5F3E7;
	display:flex;
	color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.2em;
}

#about {
	width: 100vw;
	height: auto;
	padding: 10% 30% 10% 30%;
	display:flex;
	flex-direction:column;
	background-color: #F5F3E7;
	align-items: center;
}

h2 {
	font-size: 2.5rem;
}

.cita{
	width: 100vw;
	height: auto;
	padding: 15% 30% 10% 30%;
	display:flex;
	flex-direction:column;
	background-color: #F5F3E7;
	font-style: italic;
	font-size: 1vw;
}

#muchos_mas {
	width: 100vw;
	height: auto;
	padding: 5%;
	display:flex;
	flex-direction:column;
	background-color: #F5F3E7;
	align-items: center;
}

.textofinal {
	font-size: 40px;
}

.sobreaquestfestival {
	font-size: 90px;
}

.benvingutsalfestival {
	align-items: center;
	padding-top: 2px;
}

#bienvenidos_grupos {
	width: 100vw;
	height: auto;
	padding: 5%;
	display:flex;
	flex-direction:column;
	background-color: #F5F3E7;
	
}

.titulo_grupos {
	font-size: 3vw;
	width: 40vw;
	line-height: 1;

}

.texto_grupos {
	width: 40vw;
	align-items: center;
	padding-top: 30px;
	font-size: 1vw;
}


#entradas {
	background-color: #F5F3E7;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom: 1%;
}

.entradas_orden {
	display: flex;
	flex-direction: row;
	padding-left: 5%;
}

.entradas_orden img {
	width: 20%;
	height: auto;
}

.entradas_orden h2{
	padding-top: 5%;
}

.titulo_entradas {
	font-size: 25px;
}
.entradas_orden_2 {
	padding-right: 10%;
}

.boton_entradas {
	width: 170%;
	text-align: center;
	height: auto;
    font-size: 1.5rem;
    padding: 0.5rem;
    background-color: #FF007A;
    border-radius: 13px;
    font-weight: bold;
}

.boton_entradas a{
	text-decoration: none;
	color: white;
}

.boton_entradas :hover {
	color: #FFDCEE;
}

footer {
  background-color: black;
  color: #F5F3E7;
  padding: 5% 10% 5% 5%
}

.footer-caixa {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.footer-section {
  width: 25%;
  padding: 2%;
}

.footer-section h2 {
  color: #F5F3E7;
  margin-top:10%;
  font-size: 40px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  font-size: 25px;
}

.footer-section a {
  color: #F5F3E7;
  text-decoration: none;
}

.footer-section img {
	margin: 5%;

}

#grups{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    background-color: #F5F3E7;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grup {
    width: 50%;
    height: auto; 
    margin-bottom: 50px;   
}

.grup h2{
		font-size: 50px;
	}

.grup p {
		font-size: 25px;
		padding-left: 3%;
}

.grup img {
	width: 100%;
}

.img_fest img {
	width: 100%;
}

.container{
    display: flex;
}

.formulari h1{
	padding-bottom: 50px;
	font-size: 60px;
}
.contacte{
    width: 100%;
    height: auto;
    background-color: #F5F3E7;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    padding: 5% 5% 5% 5%;
}

.formulari{
    width: 50%;
    font-size: 1.5rem;
}

.mapa{
    width: 100%;
    background-color: #F5F3E7;
}

ul{
    list-style: none;
}

li{
    padding: 2%;
}

button {
	width: 150%;
	height: auto;
    font-size: 1.5rem;
    padding: 0.5rem;
    color: white;
    background-color: #FF007A;
    border-radius: 13px;
    font-weight: bold; 
    border-width: 3px;
}

input {
	width: 150%;
	height: auto;
	background-color: #F5F3E7;
	border-radius: 7px;
    font-weight: bold; 
    border-width: 3px;
    border-color: black; 
}

textarea {
	width: 150%;
	height: auto;
	background-color: #F5F3E7;
    border-radius: 7px;
    font-weight: bold;
    border-width: 3px;
    border-color: black; 
}

@media screen and (max-width: 768px) {
	header {
		flex-direction:column;
		padding-top:10%;
	}

.linksmenu a  {
		font-size: 1.2rem;
		line-height: 3rem;
	}

	#logotip img{
		height: auto;
		width: 60%;
		padding-left: 5%;
	}

	#menu {
		display:flex;
		flex-direction:column;
	}

	#about {
		width: 100vw;
		height: auto;
		padding: 10%;
		text-align: center;
	}

    .sobreaquestfestival {
    	width: 	100%;
    	font-size: 50px;
    } 

    .benvingutsalfestival {
    	width: 	100%;
    	padding-top:2%;
    }

    hero {
	position: relative;
	width: auto;
	height: 150vw;
	}

    .mapa {
       	display: flex;
  		flex-direction: column;
  		flex-wrap: wrap;
    	justify-content: space-between;
    	flex-direction: column;
    }

    .footer-caixa {
    	flex-direction:column;

    }

    .footer-section {
    	width: 100%;
    }

    .footer-section h2 {
	  font-size: 25px;
	}

    p {
    	font-size: 1rem;
    }

    a {
    	font-size: 1.2rem;
	}

	a:hover {
    	font-size: 1.5rem;
    	font-weight: bold;
	}

	.titulo_grupos {
		font-size: 10vw;
		width: 100%;
	}

	.texto_grupos {
		font-size: 4vw;
		width: 100%;
	}

	.grup h2{
		font-size: 19px;
	}

	.grup p {
		font-size: 15px;
	}

	#about {
	width: 100vw;
	}

	h2 {
	font-size: 1rem;
	}

	.cita{
		width: 100vw;
		height: auto;
		padding: 10%;
		text-align: center;
	}

	#muchos_mas h3 {
	font-size: 20px;
	padding-bottom: 30px;
	}

	#entradas {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 2%;
	}

	.entradas_orden {
	width: 40%;
	}

	.entradas_orden img {
		width: auto;
		height: 70%;
	}
	.entradas_orden h2{
		padding-top: 5%;
	}

	.entradas_orden_2 {
		padding-left: 20%;
	}

	.titulo_entradas {
		font-size: 15px;
	}

	.boton_entradas {
		width: 100%;
	    font-size: 0.2rem;
	}
}